# Зависимости библиотек (тяжелая папка, восстанавливается через npm i)
node_modules/

# Папка готовой сборки (генерируется командой npm run build)
dist/

# Локальные настройки редактора и системы
.vscode/
.DS_Store
Thumbs.db

# Логи ошибок npm
*.log
npm-debug.log*