# Зависимости
node_modules/

# Папка финальной сборки
dist/
dist-ssr/

# Локальные конфиги редакторов
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Системный мусор
.DS_Store
Thumbs.db

# Логи сборщиков
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Переменные окружения
.env
.env.local
.env.*.local

# Скомпилированные артефакты (на случай ручного запуска sass)
css/main.css
css/main.css.map