@use '../core/variables' as v;
@use '../core/mixins' as m;

@use '../components/cursor';

.privacy-page {
	background-color: #050505;
	color: #d9d9d9;
	padding: 80px 0;
	min-height: 100vh;
	font-family: 'bebas', sans-serif;
}

.privacy-container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn-back {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	color: rgba(255, 255, 255, 0.6);
	font-size: 1.125rem;
	margin-bottom: 40px;
	transition:
		color 0.3s ease,
		transform 0.3s ease;

	svg {
		transition: transform 0.3s ease;
	}

	@include m.hover {
		color: var(--color-light);

		svg {
			transform: translateX(-5px);
		}
	}
}

.privacy-card {
	background: rgba(255, 255, 255, 0.03);
	border: 1px solid rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	padding: 50px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);

	@media (max-width: 768px) {
		padding: 40px 20px;
	}

	&__title {
		font-size: clamp(1.6rem, 2.5vw + 1rem, 3rem);
		margin-bottom: 40px;
		color: var(--color-light);
		letter-spacing: 1px;
		line-height: 1.1;
		text-align: center;
	}
}

.privacy-text {
	&__title {
		margin-block: 40px;
	}
	h2,
	p strong {
		font-size: clamp(1.2rem, 1vw + 1rem, 1.5rem);
		color: var(--color-light);
		font-weight: 600;
	}

	p {
		margin-bottom: 16px;
		line-height: 1.8;
		color: rgba(255, 255, 255, 0.7);
		font-size: 1.125rem;
	}

	ul {
		margin-bottom: 24px;
		padding-left: 20px;

		li {
			position: relative;
			margin-bottom: 12px;
			color: rgba(255, 255, 255, 0.7);
			line-height: 1.8;
			font-size: 1.125rem;
			padding-left: 15px;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 7px;
				aspect-ratio: 1;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.4);
			}
		}
	}
}

.devvizard {
	letter-spacing: 1px;
}